html, body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Padding-Medium {
  padding: 10px;
}

.Color-Maroon {
 color: rgba(128, 0, 0,0.5)
}

.Background-Color-Black {
  background-color: #2e2e2e
}

.Background-Color-Maroon {
  background-color: #650200
}


.Merch-Modal {
  width: 90%;
}